/** Overides bootstrap */
body {
	overflow-x: hidden;
	margin: 0 0 100px; /* bottom = footer height */
}

/*.wrapper {
	width: 400px;
	margin: 0 auto;
}

.container-bootstrap-bug{
	padding: 0 15px;
}
*/

#dashboard-side {
	
	background: #222222;
	min-height: 500px;
}

#dashboard-main {

	background: #f2f2f2;
	min-height: 500px;
}

.container-fluid {
	width: 600px;
}

.wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper_footer {
	width: 540px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
}


footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #4B688B;
    color: white;
}

.img_home {

	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.row {

	width: 540px;
	margin-right: 0 !important;
	margin-left: 0 !important;
}